@model WebProgramlamaVize.Models.Duyuru

@{
    Layout = null;
    var list = ViewData["duyurular"] as IEnumerable<WebProgramlamaVize.Models.Duyuru>;

    ViewData["admin"] = TempData["admin"];
    TempData.Keep();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DÜ Admin Sayfası</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="css/adminlte.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">


    <style>
        #stok-ekle-buton {
            border: none;
            margin-bottom: 20px;
            width: 130px;
            height: 35px;
            background-color: #343a40;
            float: right;
        }

        #stok-ekle-buton a {
            color: #fff;
        }

        .form-genel {
            width: 300px;
            margin: 0 auto;
        }

        .form-genel-baslik {
            text-align: center;
        }

        .form-genel-input {
            width: 100%;
            margin-bottom: 10px;
        }

        .ortala {
            text-align: center;
        }

        .small-box h3 {
            font-size: 1.50rem !important;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini"> 

    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" href="Admin/Cikis">
                        <i class="fas fa-sign-out"></i>
                    </a>
                </li>

                <!-- Notifications Dropdown Menu -->
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="javascript:void(0);" class="brand-link">
                <img src="img/Düadminlogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">DÜ Admin</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="img/cvresim.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@ViewData["admin"]</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    DUYURULAR
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 mt-5">
                        <form enctype="multipart/form-data" runat="server" asp-action="" class="form-genel" method="post" autocomplete="off">
                            <h3 class="form-genel-baslik">DUYURU EKLE</h3>
                            <input asp-for="duyuruBaslik" class="form-genel-input" type="text" placeholder="Duyuru Başlığı">
                            <input asp-for="duyuruIcerik" class="form-genel-input" type="text" placeholder="Duyuru İçeriği">
                            <input class="form-genel-input" type="submit" name="Ekle" value="Ekle">
                        </form>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 mt-5">
                        <form enctype="multipart/form-data" runat="server" asp-action="" class="form-genel" method="post" autocomplete="off">
                            <h3 class="form-genel-baslik">DUYURU GÜNCELLE</h3>
                            <input asp-for="duyuruId" class="form-genel-input" type="text" placeholder="Duyuru ID">
                            <input asp-for="duyuruBaslik" class="form-genel-input" type="text" placeholder="Duyuru Başlık (Opsiyonel)">
                            <input asp-for="duyuruIcerik" class="form-genel-input" type="text" placeholder="Duyuru İçerik (Opsiyonel)">
                            <input class="form-genel-input" type="submit" name="Guncelle" value="Guncelle">
                        </form>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 mt-5">
                        <form runat="server" asp-action="" class="form-genel" method="post" autocomplete="off">
                            <h3 class="form-genel-baslik">DUYURU SİL</h3>
                            <input asp-for="duyuruId" class="form-genel-input" type="text" placeholder="Duyuru ID">
                            <input class="form-genel-input" type="submit" name="Sil" value="Sil">
                        </form>
                    </div>
                </div>
            </div>

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-8" style="margin:0 auto;">



                            <h3 style="text-align:center; margin-top:40px; margin-bottom:40px; padding-bottom:10px; border-bottom:solid 2px;">DUYURULAR</h3>
                            <table class="table table-bordered table" style="text-align:center;">
                                <thead>
                                    <tr>
                                        <th scope="col">DUYURU ID</th>
                                        <th scope="col">DUYURU BAŞLIK</th>
                                        <th scope="col">DUYURU İÇERİK</th>
                                        <th scope="col">DUYURU GÖRSEL</th>
                                        <th scope="col">DUYURU TARİH</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in list) {
                                    <tr>
                                            <td class="col-md-2">@Html.DisplayFor(modelItem => item.duyuruId)</td>
                                            <td class="col-md-2">@Html.DisplayFor(modelItem => item.duyuruBaslik)</td>
                                            <td class="col-md-2">@Html.DisplayFor(modelItem => item.duyuruIcerik)</td>
                                            <td class="col-md-2">@Html.DisplayFor(modelItem => item.duyuruGorsel)</td>
                                            <td class="col-md-2">@Html.DisplayFor(modelItem => item.duyuruTarih)</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>


        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.2.0
            </div>
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="js/demo.js"></script>
</body>

</html>